<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ai Powered WomenHowk</title>
    <link rel="stylesheet" href="/stylesheets/chat.css">
</head>
<body>
    <nav>
        <a href="/"><h1 class="logo" style="color: #f13a11">WomenHowk</h1></a>
        <div class="right-nav">
            <div class="select-box">
<div class="select-heading"><span>Biceps & Triceps</span> <img src="/images/work/arrow.svg" alt="img"></div>
<div class="options">
    <a href="/help/workout"><div class="option">All Workout</div></a>
    <a href="/help/back"><div class="option">Back Workout</div></a>
    <a href="/help/chest"><div class="option">Chest Workout</div></a>
    <a href="/help/biceps"><div class="option">Biceps & Triceps</div></a>
    <a href="/help/leg"><div class="option">Leg Workout</div></a>
</div>
            </div>
            <img src="/images/work/chatbot.svg" alt="img" id="chatbotimg">
        </div>
    </nav>
    <main>
        <div class="chat-box">
            <div class="h1">Talk to your own assistant...</div>
            <div class="chat-container">
                
            </div>
            <div class="input-area">
                <input type="text" class="prompt" placeholder="ask anything...">
                <button><img src="/images/work/btn.svg" alt="img"></button>
            </div>
        </div>
        <div class="svgs">
            <img src="/images/work/biceps1.gif" alt="" width="200px">
            <img src="/images/work/biceps2.gif" alt="" width="200px">
            <img src="/images/work/biceps3.gif" alt="" width="200px">
            <img src="/images/work/triceps1.gif" alt="" width="200px">
            <img src="/images/work/triceps2.gif" alt="" width="200px">
        
        </div>
    </main>
    <div class="virtual-assistant">
        <img src="/images/work/ai.png" alt="img" width="120px">
    </div>
   
</main>
<div class="speak-page">
        <img src="/images/work/ai.png" alt="img" width="200px">
        <h1>speak Now</h1>
        <img src="/images/work/voice.gif" alt="img" width="200px" id="voice">
</div>
  <script src="/javascripts/chat.js"></script>  
</body>
</html>