<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-in</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="main">
        <a href="/" style="text-decoration: none;"><h1 id="heading">WomenHowk</h1></a>
        <div class="forms">
            <form action="/create" method="post">
                <div class="logo">
                    <h1>WomenHowk</h1>
                </div>
                <h2>Sign-in</h2>
                <input type="text" placeholder="Enter Username" name="username" class="f1"><br>
                <input type="text" placeholder="Enter Full Name" name="name" class="f1"><br>
                <input type="email" placeholder="Enter Email" name="email" class="f1"><br>
                <input type="password" placeholder="Enter Password" name="password" class="f1"><br>
                <input type="number" placeholder="Enter Age" name="age" class="f1"><br>
                <input type="submit" value="Create" class="btn">
            </form>
            <p>Alredy have a account?<a href="/login">Login</a></p>
        </div>
    </div>
</body>
</html>