<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-page</title>
    <link rel="stylesheet" href="/stylesheets/style1.css">
</head>
<body>
    <div class="main">
        <a href="/" style="text-decoration: none;"><h1 id="heading">WomenHowk</h1></a>
        <div class="forms">
            <form action="/login" method="post">
                <div class="logo">
                    <h1>WomenHowk</h1>
                </div>
                <h2>Login</h2>
                <input type="email" placeholder="Enter Email" name="email" class="f1"><br>
                <input type="password" placeholder="Enter Password" name="password" class="f1"><br>
                <input type="submit" value="Login" class="btn">
            </form>
            <p>Create new account?<a href="/signUp">sign-in</a></p>
        </div>
    </div>
</body>
</html>