<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Upload Page</title>
    <link rel="stylesheet" href="/stylesheets/profileUpload.css">
</head>
<body>
    <div class="main">
        <div class="nav">
            <a href="/profile" class="aBtn">Back</a>
        </div>
        <div class="forms">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="image" class="f1">
                <input type="submit" value="Upload" class="btn">
            </form>
        </div>
    </div>
</body>
</html>