@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #171819;
}

.main{
    height: 100%;
    width: 100%;
    background-color: transparent;
    padding: 20px;
}

#heading{
    font-size: 43px;
    font-weight: 600;
    color: #f13a11;
    text-align: center;
}

.forms{
    height: 50%;
    width: 30%;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
}

.forms h2{
    text-align: center;
    font-size: 33px;
    color: #f13a11;
    margin-bottom: 20px;
}

.f1{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 10px;
}

.btn{
    width: 100%;
    height: 40px;
    background-color: #f13a11;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.forms p{
    text-align: center;
    font-weight: 700;
}

.forms p a{
    text-decoration: none;
    color: #f13a11;
}

.forms .logo{
    display: none;
}


@media(max-width: 500px){
    .forms{
        height: 100%;
        width: 100%;
    }

    .forms .logo{
        display: inline-block;
        margin-top: 100px;
        margin-bottom: 20px;
        height: 200px;
        width: 100%;
        padding: 40px;
    }

    .logo h1{
        text-align: center;
        font-size: 45px;
        color: #f13a11;
        font-weight: 900;
    }

}